[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = James Corino
	email = 122735477+Jamescorino8@users.noreply.github.com
[core]
	autocrlf = input
